:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #5f36bc;
  --secondary-color: #fff;
  --danger-color: #b62424;
}
[data-theme='dark'] {
  --background-color: #141414;
  --text-color: #fff;
  --primary-color: #5f36bc;
  --secondary-color: #fff;
  --danger-color: #b62424;
}

.bg-primary {
  background-color: var(--background-color);
}

.text-primary {
  color: var(--text-color);
}
